<div class="container adminContent">

    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h1 class="title">{{'teams'|translate}}</h1>
                <div class="buttons">
                    <button ng-click="teamCtrl.newTeam()" class="button center">{{'newTeam'|translate}}</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="grid-style" ui-grid="teamCtrl.gridOptions" ui-grid-selection ui-grid-infinite-scroll></div>
            </div>
        </div>
    </section>

    <section class="no-bordered" ng-if="teamCtrl.showDDArea">
        <div class="row section-row">
            <h3 class="error-when-transfer" ng-if="teamCtrl.errorMessage">Something went wrong and operator was not transfered. Try again</h3>
            <div class="col-xs-6">
                <p class="label-for">{{'membersOf'|translate}} {{ teamCtrl.recentlySelectedRow }}:</p>
                <div id="members" class="thumbnail" ng-model="teamCtrl.membership" ui-sortable="teamCtrl.sortableOptions">
                    <div class="btn btn-info draggable" ng-repeat="member in teamCtrl.membership"
                         ng-mousedown="teamCtrl.dragged( member, true )">
                        {{member.firstname}} {{member.lastname}}</div>
                </div>
            </div>
            <div class="col-xs-6">
                <p class="label-for">{{'othersOperators'|translate}}:
                    <span class="filter-ctnr pull-right">search:
                        <input type="text" class="filter" ng-model="teamCtrl.search.firstname" placeholder="First Name" />
                        <input type="text" class="filter" ng-model="teamCtrl.search.lastname" placeholder="Last Name" />
                    </span>
                </p>
                <div id="others" class="thumbnail" ng-model="teamCtrl.othersOperatorsFiltered" ui-sortable="teamCtrl.sortableOptions">
                    <div class="btn btn-default draggable" ng-repeat="operator in teamCtrl.othersOperatorsFiltered
                    | startFrom: ( ( teamCtrl.currentPage-1 ) * teamCtrl.listFilter.size )
                    | limitTo: teamCtrl.listFilter.size" ng-mousedown="teamCtrl.dragged( operator, false )">
                        {{operator.firstname}} {{operator.lastname}}</div>
                </div>
                <pagination class="pull-right pagination-sm" ng-model="teamCtrl.currentPage" total-items="teamCtrl.resultCount"
                            items-per-page="teamCtrl.listFilter.size" max-size="10" boundary-links="true" previous-text="Previous" next-text="Next"
                            first-text="First" last-text="Last"></pagination>
            </div>
        </div>

        <div class="row section-row"></div>
    </section>
</div>
