<div class="container adminContent">

    <section>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">{{'production'|translate}}</h1>
            </div>
        </div>
    </section>
    <section>
        <div class="row section-row">
            <div class="col-xs-12">
                <h2 class="title">{{'lineViewColor'|translate}}</h2>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-12 colors">
                <div class="pull-left">
                    <input name="color-mode" id="simple" class="radio" type="radio" ng-model="PC.settings.colormode" value="0">
                    <label for="simple">
                        <span class="color-square green"></span>
                        <span class="color-square yellow"></span>
                        <span class="color-square red"></span>
                        <p class="inline-input-text">{{'simple'|translate}}</p>
                    </label>
                </div>
                <div class="pull-left">
                    <input name="color-mode" id="detailed" class="radio" type="radio" ng-model="PC.settings.colormode" value="1">
                    <label for="detailed">
                        <span class="color-square green"></span>
                        <span class="color-square yellow"></span>
                        <span class="color-square orange"></span>
                        <span class="color-square red"></span>
                        <span class="color-square purple"></span>
                        <span class="color-square grey"></span>
                        <span class="color-square blue"></span>
                        <p class="inline-input-text">{{'detailed'|translate}}</p>
                    </label>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row section-row">
            <div class="col-xs-12">
                <h2 class="title">{{'productionSpeedMarker'|translate}}</h2>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-12">
                <div class="range-bar">
                    <div class="part">
                        <div class="bar light-green">
                            <p>{{'tooFast'|translate}}</p>
                        </div>
                    </div>
                    <div class="part">
                        <div class="bar green">
                            <p>{{'normal'|translate}}</p>
                        </div>
                        <div class="values">
                            <input type="number" class="short" ng-model="PC.settings.normalMarker" />
                        </div>
                    </div>
                    <div class="part">
                        <div class="bar yellow">
                            <p>{{'slow'|translate}}</p>
                        </div>
                        <div class="values">
                            <input type="number" class="short" ng-model="PC.settings.slowMarker" />
                        </div>
                    </div>
                    <div class="part">
                        <div class="bar orange">
                            <p>{{'tooSlow'|translate}}</p>
                        </div>
                        <div class="values">
                            <input type="number" class="short" ng-model="PC.settings.extraSlowMarker" />
                            <span class="pull-right">&nbsp;%</span>
                            <input type="number" class="short short-margined pull-right" ng-model="PC.settings.stoppageMarker" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h2 class="title">{{'productionEFFMarker'|translate}}</h2>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-12">
                <div class="range-bar">
                    <div class="part">
                        <div class="bar">
                            <div class="mascot">
                                <div class="image">
                                    <div class="img"></div>
                                </div>
                            </div>
                        </div>
                        <div class="values">0</div>
                    </div>
                    <div class="part">
                        <div class="bar">
                            <div class="mascot">
                                <div class="image">
                                    <div class="img"></div>
                                </div>
                            </div>
                        </div>
                        <div class="values">
                            <input type="number" class="short" ng-model="PC.settings.effLowLimit" />
                        </div>
                    </div>
                    <div class="part">
                        <div class="bar">
                            <div class="mascot">
                                <div class="image">
                                    <div class="img"></div>
                                </div>
                            </div>
                        </div>
                        <div class="values">
                            <input type="number" class="short" ng-model="PC.settings.effMediumLimit" />
                        </div>
                    </div>
                    <div class="part">
                        <div class="bar">
                            <div class="mascot">
                                <div class="image">
                                    <div class="img"></div>
                                </div>
                            </div>
                        </div>
                        <div class="values">
                            <input type="number" class="short" ng-model="PC.settings.effHighLimit" />
                            %
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-12 text-center">
                <span ng-click="PC.save()" class="button button-submit">{{'save'|translate}}</span>
            </div>
        </div>

        <div class="row section-row"></div>
    </section>

</div>