.content
{
    width: 100%;
    -webkit-transition: width 600ms;
    -moz-transition: width 600ms;
    -o-transition: width 600ms;
    transition: width 600ms;
}

.content.content-narrow
{
    width: 80%;
    transition: width .6s;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: 400px;
    height: 300px
}

#adminMenu {
    color: inherit;
    text-decoration: none;
    background-color: #dedfcf;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -185px;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-transition: right 600ms;
    -moz-transition: right 600ms;
    -o-transition: right 600ms;
    transition: right 600ms;
    z-index: 9;
}

#adminMenu:hover {
    right: 0;
}

.modal {
    display: none;
    position: fixed;
    left: 15%;
    top: 25px;
    padding: 25px;
    border: none;
    background-color: transparent;
    width: 70%;
    height: 80%;
    z-index: 100;
    overflow-y: scroll;
}

.modal-body {
    position: relative;
    padding: 50px;
}

.commentsMenu {
    margin-top: 95px;
}

.adminContent {
    padding-top: 100px;
}

.actions {
    width: 1%;
}

.buttonActions {
    display: block;
    width: 250px;
}

.selected td {
    background-color: #B3C112;
}

.firstSelected {
    background-color: #d9534f !important;
}





.modal-body input, .modal-body select
{
    border: 1px solid #999 !important;
    padding: 0 6px;
    height: 40px;
    border-radius: 8px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #888;
    background-color: inherit !important;
}



.adminContent section, .adminContent .section-row
{
    position: relative;
    margin-bottom: 40px;
}

.adminContent section
{
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #111;
    overflow: hidden;
}

.adminContent section.no-bordered
{
    border-bottom: none;
}

.adminContent .title
{
    margin: 0;
    padding: 0 30px 0 0;
    display: inline;
    float: left;
}

.adminContent .buttons
{
    display: inline;
    float: right;
}

/*
 - - - - TABLES - - - -
*/



.adminContent tr
{
    border-bottom: 1px solid #111;
}

.adminContent .statsTable th, .adminContent .statsTable td
{
    border: none;
}

.adminContent .statsTable th:not( :last-child )
{
    border-right: 1px solid #fff;
}

.adminContent table.statsTable label
{
    color: inherit;
    margin: 0;
    min-width: initial;
    line-height: 1;
}

.adminContent .statsTable .highlighted
{
    background: #bdbdb0;
    color: #fff;
}

.adminContent .statsTable .buttonActions a
{
    text-transform: none;
}





/*
 - - - - INPUTS - - - -
*/


.adminContent input[ type=checkbox ], .adminContent input[ type=radio ]
{
    margin: 0 20px 0 0;
    width: 20px;
    height: 20px;
}

.adminContent input[ type=number ], .adminContent input[ type=text ], .adminContent select
{
    border: 1px solid #999 !important;
    padding: 0 6px;
    height: 40px;
    border-radius: 8px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #888;
}

.adminContent label
{
    margin: 0 0 20px 0;
    min-width: 220px;
    line-height: 1.6;
}

.adminContent select
{
    width: 100px;
    background-color: inherit !important;
}

.adminContent input[ number ], input[ type=text ]
{
    width: 80px;
}

.adminContent input.long, select.long
{
    width: 100%;
    max-width: 340px;
}

.adminContent .inline-input-text
{
    display: inline;
    margin-left: 30px;
    color: #bbb;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.7;
}

.adminContent .label-above
{
    display:block;
    line-height: 40px;
    color: #111;
    font-weight: bold;
    font-size: 16px;
}

.adminContent .button
{
    cursor: pointer;
}

.adminContent .button-submit
{
    margin-top: 40px;
}

.time-inputs input:first-child
{
    width: 50px;
}

.time-inputs select:nth-child( 2 )
{
    width: 70px;
}

.time-inputs select:nth-child( 3 )
{
    width: 140px;
}


footer
{
    z-index: 10;
}
