.content
{
    width: 100%;
    -webkit-transition: width 600ms;
    -moz-transition: width 600ms;
    -o-transition: width 600ms;
    transition: width 600ms;
}

.content.content-narrow
{
    width: 80%;
    transition: width .6s;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: 101%;
    max-width: 800px;
    height: 101%;
    max-height: 300px;
}

.confirm {
    margin-left: 30%;
    margin-top: 2%;
}

.modal-body {
    position: relative;
    padding: 50px;
}

.adminContent {
    padding-top: 100px;
}

.actions {
    width: 1%;
}

.buttonActions {
    display: block;
    width: 250px;
}

.selected td {
    background-color: #B3C112;
}

.firstSelected {
    background-color: #d9534f !important;
}






/*
 - - - - - MENU - - - -
 */



#adminMenu
{
    background-color: #dedfcf;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -220px;
    padding-right: 20px;
    -webkit-transition: right 600ms;
    -moz-transition: right 600ms;
    -o-transition: right 600ms;
    transition: right 600ms;
    z-index: 9;
}

#adminMenu:hover
{
    right: 0;
}

#adminMenu .commentsMenu
{
    position: relative;
    margin-top: 80px;
    height: calc( 100vh - 80px - 90px );
    width: 200px;
    overflow-y: auto;
    float: left;
}

#adminMenu .menu-title
{
    position: relative;
    top: 30%;
    margin: 0 5px;
    width: 30px;
    float: left;
    font-size: 28px;
    text-align: center;
    opacity: 1;
    -webkit-transition: opacity 600ms;
    -moz-transition: opacity 600ms;
    -o-transition: opacity 600ms;
    transition: opacity 600ms;
}

#adminMenu:hover .menu-title
{
    opacity: 0;
}


#adminMenu .commentsMenu ul a
{
    font-weight: bold;
    color: #111;
}

#adminMenu .commentsMenu > ul .submenu
{
    color: #999;
    margin-bottom: 20px;
}

#adminMenu .commentsMenu ul.submenu a
{
    display: block;
    margin-bottom: 0;
    color: #999;
    cursor: pointer;
}

@media (max-width: 992px)
{
    .container {
        min-width: initial;
        width: 90%;
    }
    .content.content-narrow {
        width: 100%;
    }
}




/*
 - - - - - MODAL - - - -
 */

.modal {
    display: none;
    position: fixed;
    padding-top: 80px;
    border: none;
    background-color: rgba( 0, 0, 0, 0.7 );
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-y: hidden;
}

.modal-body input, .modal-body select
{
    border: 1px solid #999 !important;
    padding: 0 6px;
    height: 40px;
    /*width: 100%;*/
    border-radius: 8px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #888;
    background-color: inherit !important;
}

.modal-body input[ type=checkbox ]
{
    margin: 0 20px 0 0;
    width: 20px;
    height: 20px;
}

.modal-body label
{
    min-width: 100px;
    line-height: 1.6;
}

.adminContent section, .adminContent .section-row
{
    position: relative;
    margin-bottom: 40px;
}

.adminContent section
{
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #111;
    overflow: hidden;
}

.adminContent section.no-bordered
{
    border-bottom: none;
}

.adminContent .title
{
    margin: 0;
    padding: 0 30px 0 0;
    display: inline;
    float: left;
}

.adminContent .buttons
{
    display: inline;
    float: right;
}

/*
 - - - - TABLES - - - -
*/



.adminContent tr
{
    border-bottom: 1px solid #111;
}

.adminContent .statsTable th, .adminContent .statsTable td
{
    border: none;
}

.adminContent .statsTable th:not( :last-child )
{
    border-right: 1px solid #fff;
}

.adminContent table.statsTable label
{
    color: inherit;
    margin: 0;
    min-width: initial;
    line-height: 1;
}

.adminContent .statsTable .highlighted
{
    background: #bdbdb0;
    color: #fff;
}

.adminContent .statsTable .buttonActions a
{
    text-transform: none;
}





/*
 - - - - INPUTS - - - -
*/


.adminContent input[ type=checkbox ], .adminContent input[ type=radio ]
{
    margin: 0 20px 0 0;
    width: 20px;
    height: 20px;
}

.adminContent input[ type=number ], .adminContent input[ type=text ], .adminContent select
{
    border: 1px solid #999 !important;
    padding: 0 6px;
    /*width: 100%;*/
    height: 40px;
    border-radius: 8px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #888;
}

.adminContent label
{
    margin: 0 0 20px 0;
    min-width: 220px;
    line-height: 1.6;
}

.adminContent select
{
    background-color: inherit !important;
}

.adminContent select.short
{
    width: 100px;
}

.adminContent input[ type=number ].short, input[ type=text ].short
{
    width: 80px;
}

.select2-search input
{
    width: 100% !important;
}

.adminContent input.long, .adminContent select.long
{
    max-width: 340px;
}

.adminContent .inline-input-text
{
    display: inline;
    margin-left: 30px;
    color: #bbb;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.7;
}

.adminContent .label-above
{
    display:block;
    line-height: 40px;
    color: #111;
    font-weight: bold;
    font-size: 16px;
}

.adminContent .button
{
    cursor: pointer;
}

.adminContent .button-submit
{
    margin-top: 40px;
}

.time-inputs input:first-child
{
    width: 50px;
}

.time-inputs select:nth-child( 2 )
{
    width: 70px;
}

.time-inputs select:nth-child( 3 )
{
    width: 140px;
}


footer
{
    z-index: 10;
}
