<div>
    <div class="modal-header"></div>
    <form class="form-horizontal" role="form">
        <div class="modal-body">
            <div class="form-group">
                <label for="name" class="col-md-2 control-label">{{ 'name' | translate }}:</label>

                <div class="col-md-10">
                    <input type="text" id="name" ng-model="modal.row.name">
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <button class="btn btn-success pull-left" ng-click="$close(modal.row)">
                        <span class="glyphicon glyphicon-ok"></span> {{ 'save' | translate}}
                    </button>
                    <button class="btn btn-danger pull-left" ng-click="$dismiss()">
                        <span class="glyphicon glyphicon-remove"></span> {{ 'cancel' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
