<div class="container adminContent">

    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h1 class="title">{{'productsGroup'|translate}}</h1>

                <div class="buttons">
                    <button class="button center" ng-click="groupCtrl.newGroup()">{{ 'addProductGroup' | translate }}</button>
                </div>
            </div>
        </div>
        <div data-ui-grid="groupCtrl.gridOptionsGroups" data-ui-grid-pagination data-ui-grid-selection></div>
    </section>

    <section class="no-bordered" ng-if="groupCtrl.visible">
        <div class="row section-row">
            <div class="col-xs-12">
                <h2 class="title">{{'productsInSelectedGroup'|translate}}</h2>
            </div>
        </div>
        <div data-ui-grid="groupCtrl.gridOptionsProducts" data-ui-grid-pagination></div>

        <div class="row section-row"></div>
    </section>

</div>
