<div>
    <div class="modal-header">
        <h2 class="title">{{'sureToDelete'|translate}}</h2>
    </div>

    <form class="form-horizontal" role="form">
        <div class="modal-body">
            <h4 class="text-center">{{'questionRemoveConfirm'|translate}}</h4>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <button class="btn btn-success" ng-click="$close()">
                        <span class="glyphicon glyphicon-ok"></span>
                        {{'yes'|translate}}
                    </button>
                    <button class="btn btn-danger" ng-click="$dismiss()">
                        <span class="glyphicon glyphicon-remove"></span>
                        {{'cancel'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>