<div class="container adminContent">
    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h1 class="title">Tytuł sekcji h1 + class title</h1>
                <div class="buttons">
                    <button class="button center">Merge</button>
                    <button class="button center">New comment</button>
                    <button class="button center">New comment group</button>
                </div>
            </div>
        </div>

        <div class="row section-row">
            <div class="col-xs-12">
                <table class="statsTable">
                    <thead>
                        <tr>
                            <th><label for="select">Select</label></th>
                            <th class="highlighted">Name</th>
                            <th>Group</th>
                            <th>Category</th>
                            <th>Color</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr class="data">
                        <td><input id="select" type="checkbox" ng-model="comment.select"></td>
                        <td>content</td>
                        <td>content</td>
                        <td>content</td>
                        <td>content</td>
                        <td class="actions">
                            <span class="buttonActions">
                              <a class="button link">edit</a>
                              <a class="button link">delete</a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination class="pull-right pagination-sm" ng-model="commentsController.currentPage" total-items="commentsController.resultCount"
                            items-per-page="commentsController.listFilter.size" max-size="10" boundary-links="true" previous-text="Previous" next-text="Next"
                            first-text="First" last-text="Last"></pagination>
            </div>
        </div>
    </section>

    <section>
        <div class="row section-row">
            <div class="col-xs-12">
                <h2 class="title">sub title</h2>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-12">
                <input type="text" class="long">
                <p class="inline-input-text">Inline tekst</p>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-6">
                <p class="label-above">Abowe label</p>
                <label for="n1">
                    <input id="n1" type="checkbox" />text
                </label>
                <label for="n2">
                    <input id="n2" type="checkbox" />text
                </label>
                <label for="n3">
                    <input id="n3" type="checkbox" />text
                </label>
                <label for="n4">
                    <input id="n4" type="checkbox" />text
                </label>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-6">
                <p class="label-above">this label for input is very long and takes lot of place</p>
            </div>
            <div class="col-xs-6">
                <input type="text" />
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-6">
                <p class="label-above">this label for select is very long and takes lot of place</p>
            </div>
            <div class="col-xs-6">
                <select>
                    <option>df</option>
                    <option>df</option>
                    <option>df</option>
                </select>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-4">
                <p class="label-above">time</p>
                <div class="time-inputs">
                    <input type="text" />
                    <select>
                        <option>:00</option>
                    </select>
                    <select>
                        <option>15 minutes</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row section-row">
            <a class="button link">edit</a>
        </div>
    </section>

    <section>
        <div class="row section-row">
            <div class="col-xs-12">
                <h2 class="title">sub tytul h2 + class title</h2>
                <select class="long">
                    <option>4</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-6">
                <p class="label-above">Name</p>
                <input class="long" type="number" />
            </div>
            <div class="col-xs-6">
                <p class="label-above">Country</p>
                <select class="long">
                    <option>Poland</option>
                    <option>Pakistan</option>
                </select>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-6">
                <p class="label-above">Country</p>
                <select class="long">
                    <option>Poland</option>
                    <option>Pakistan</option>
                </select>
            </div>
            <div class="col-xs-6">
                <p class="label-above">barcode</p>
                <input class="long" type="text" />
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-12 text-center">
                <span class="button button-submit">save</span>
            </div>
        </div>
    </section>
</div>