<div id="adminMenu" ng-if="activePage!='/'">
    <div class="menu-title">
        <span class="glyphicon glyphicon-menu-hamburger hamburger" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-pushpin pushpin" ng-click="setMenuStatic()" aria-hidden="true"></span>
    </div>
    <div class="commentsMenu">
        <ul class="list-unstyled">
            <li>
                <a href="#/comments" ng-class="{ 'active': ( activePage=='/comments' ) }">{{'comments'|translate}}</a>
                <ul class="list-unstyled submenu">
                    <li><a href="#/commentsgroup" ng-class="{ 'active': ( activePage=='/commentsgroup' ) }">{{'groupComments'|translate}}</a></li>
                </ul>
            </li>
            <li>
                <a href="#/defects" ng-class="{ 'active': ( activePage=='/defects' ) }">{{'defects'|translate}}</a>
                <ul class="list-unstyled submenu">
                    <li><a href="#/defectsgroup" ng-class="{ 'active': ( activePage=='/defectsgroup' ) }">{{'defectsGroup'|translate}}</a></li>
                </ul>
            </li>
            <li>
                <a href="#/products" ng-class="{ 'active': ( activePage=='/products' ) }">{{'products'|translate}}</a>
                <ul class="list-unstyled submenu">
                    <li><a href="#/product/addnew" ng-class="{ 'active': ( activePage=='/product/addnew' ) }">{{'addNew'|translate}}</a></li>
                    <li><a href="#/productsgroup" ng-class="{ 'active': ( activePage=='/productsgroup' ) }">{{'manageGroup'|translate}}</a></li>
                </ul>
            </li>
            <li>
                <a href="#/station" ng-class="{ 'active': ( activePage=='/station' ) }">{{'stations'|translate}}</a>
                <ul class="list-unstyled submenu">
                    <li><a href="#/stationsgroup" ng-class="{ 'active': ( activePage=='/stationsgroup' ) }">{{'stationGroup'|translate}}</a></li>
                </ul>
            </li>
            <li>
                <a href="#/calendar" ng-class="{ 'active': ( activePage=='/calendar' ) }">{{'calendar'|translate}}</a>
            </li>

            <li>
                <a href="#/production" ng-class="{ 'active': ( activePage=='/production' ) }">{{'production'|translate}}</a>
            </li>

            <li>
                <a href="#/teams" ng-class="{ 'active': ( activePage=='/teams' ) }">{{'teams'|translate}}</a>
            </li>

            <li>
                <a href="#/operators" ng-class="{ 'active': ( activePage=='/operators' ) }">{{'operators'|translate}}</a>
            </li>

            <li>
                <a href="#/users" ng-class="{ 'active': ( activePage=='/users' ) }">{{'users'|translate}}</a>
            </li>

            <li>
                <a href="#/device" ng-class="{ 'active': ( activePage=='/device' ) }">{{'devices'|translate}}</a>
            </li>

        </ul>
    </div>
</div>
