<div id="adminMenu">
    <div class="menu-title">
        M
        E
        N
        U
    </div>
    <div class="commentsMenu">
        <ul class="list-unstyled">
            <li>
                <a>General</a>
                <ul class="list-unstyled submenu">
                    <li><a href="#/comments">{{'comments'|translate}}</a></li>
                    <li><a href="#/commentsgroup">{{'groupComments'|translate}}</a></li>
                    <li><a href="#/defects">Defects</a></li>
                    <li><a>Production</a></li>
                </ul>
            </li>
            <li>
                <a href="#/production">Production</a>
                <ul class="list-unstyled submenu">
                    <li><a>Metrics</a></li>
                    <li><a>Delays</a></li>
                    <li><a>Defects/rejestrs</a></li>
                    <li><a>Production</a></li>
                </ul>
            </li>
            <li>
                <a href="#/products">Products</a>
                <ul class="list-unstyled submenu">
                    <li><a href="#/productsgroup">Menage Groups</a></li>
                </ul>
            </li>
            <li>
                <a>Users</a>
                <ul class="list-unstyled submenu">
                    <li><a>Metrics</a></li>
                    <li><a>Delays</a></li>
                    <li><a>Defects/rejestrs</a></li>
                    <li><a>Production</a></li>
                </ul>
            </li>
            <li>
                <a>Stations</a>
                <ul class="list-unstyled submenu">
                    <li><a>Metrics</a></li>
                    <li><a>Delays</a></li>
                    <li><a>Defects/rejestrs</a></li>
                    <li><a>Production</a></li>
                </ul>
            </li>
            <li>
                <a>Devices</a>
                <ul class="list-unstyled submenu">
                    <li><a>Metrics</a></li>
                    <li><a>Delays</a></li>
                    <li><a>Defects/rejestrs</a></li>
                    <li><a>Production</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
