<div id="adminMenu">
    <div class="menu-title">
        M
        E
        N
        U
    </div>
    <div class="commentsMenu">
        <ul class="list-unstyled">
            <li>
                <a href="#/comments">{{'comments'|translate}}</a>
                <ul class="list-unstyled submenu">
                    <li><a href="#/commentsgroup">{{'groupComments'|translate}}</a></li>
                </ul>
            </li>
            <li>
                <a href="#/defects">Defects</a>
                <ul class="list-unstyled submenu">
                    <li><a href="#/defectsgroup">Group defects</a></li>
                </ul>
            </li>
            <li>
                <a href="#/products">Products</a>
                <ul class="list-unstyled submenu">
                    <li><a href="#/productsgroup">Menage Groups</a></li>
                </ul>
            </li>
            <li>
                <a href="#/calendar">Calendar</a>
            </li>

            <li>
                <a href="#/production">Production</a>
            </li>

        </ul>
    </div>
</div>
