<div class="container adminContent">

    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h1 class="title">{{'calendar'|translate}}:</h1>

                <div class="buttons">
                    <button class="button center" ng-click="calendarController.addCalendar()">{{'addCalendar'|translate}}</button>
                </div>
            </div>
        </div>
        <div ui-grid="calendarController.gridOptions" ui-grid-pagination ui-grid-selection></div>
    </section>
    <section class="no-bordered">
        <div ng-if="calendarController.visible">
            <div class="row section-row">
                <div class="col-xs-12">
                    <h1 class="title">{{'lineInSelected'|translate}}:</h1>
                    <div class="buttons">
                        <button class="button center" ng-click="calendarController.addLine()">{{'addCalendarLine'|translate}}</button>
                    </div>
                </div>
            </div>
            <div ui-grid="calendarController.gridOptions2" ui-grid-pagination></div>
        </div>
    </section>
</div>
