<div class="container adminContent">
    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h1 class="title">{{'stations'|translate}}</h1>

                <div class="buttons">
                    <button class="button center" ng-click="stationsController.addStation()">{{'addStation'|translate}}</button>
                    <button class="button center" ng-click="stationsController.addStationGroup()">{{'addStationGroup'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="grid-style" ui-grid="stationsController.gridOptions" ui-grid-pagination></div>
    </section>
</div>
