<div class="container adminContent">

    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h1 class="title">{{'comments'|translate}}</h1>

                <div class="buttons">
                    <button class="button center" ng-click="commentsController.addRow()">{{'addComment'|translate}}</button>
                    <button class="button center" ng-click="commentsController.newGroup()">{{'addGroupComment'|translate}}</button>
                    <button class="button center" ng-click="commentsController.mergeComments()">{{'merge'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="grid-style" ui-grid="commentsController.gridOptions" ui-grid-pagination></div>

        <div class="row section-row"></div>
    </section>
</div>
