<div class="container adminContent">

    <admin-menu></admin-menu>

    <div class="form-group">
        <div class="col-lg-7">
            <h3>Comments</h3>
        </div>
        <button class="button center" ng-click="commentsController.mergeComments()">{{"MERGE"|translate}}</button>
        <button class="button center" ng-click="commentsController.addRow()">{{"ADD.Comment"|translate}}</button>
        <button class="button center" ng-click="commentsController.newGroup()">{{"ADD.GroupComment"|translate}}</button>
    </div>
    <table class="statsTable">
        <thead>
        <tr>
            <td><label for="select">{{'SELECT'|translate}}</label></td>
            <td>{{'NAME'|translate}}</td>
            <td>{{'GROUP'|translate}}</td>
            <td>{{'CATEGORY'|translate}}</td>
            <td>{{'COLOR'|translate}}</td>
            <td>{{'ACTIONS'|translate}}</td>
        </tr>
        </thead>
        <tbody>
        <tr class="data"
            ng-repeat="comment in commentsController.comments|startFrom:(commentsController.currentPage-1)*commentsController.listFilter.size | limitTo: commentsController.listFilter.size">
            <td><input id="select" type="checkbox" ng-model="comment.select"></td>
            <td>{{comment.name}}</td>
            <td>{{comment.group}}</td>
            <td>{{comment.category}}</td>
            <td>{{comment.color}}</td>
            <td class="actions">
        <span class="buttonActions">
          <a class="button link" ng-click="commentsController.editRow(comment)">{{"EDIT"|translate}}</a>
          <a class="button link" ng-click="commentsController.deleteRow(comment.id)">{{"DELETE"|translate}}</a>
        </span>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination class="pull-right pagination-sm" ng-model="commentsController.currentPage" total-items="commentsController.resultCount"
                items-per-page="commentsController.listFilter.size" max-size="10" boundary-links="true" previous-text="{{'PREVIOUS'|translate}}"
                next-text="{{'NEXT'|translate}}" first-text="{{'FIRST'|translate}}" last-text="{{'LAST'|translate}}"></pagination>
</div>
