<div>
    <div class="modal-header">
        <div>
            <h2 class="title">Merge Comments</h2>
        </div>
    </div>
    <form class="form-horizontal" role="form">
        <div class="modal-body">
            <div class="gridStyle" ui-grid="modal.gridOptions" ui-grid-selection ui-grid-pagination>

            </div>
            <div class="confirm">
                <input id="confirm" type="checkbox" ng-model="confirm">
                <label for="confirm">Are you sure to merge this comments??</label>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <button ng-disabled="!confirm" class="btn btn-success" ng-click="$close(modal.merge)">
                        <span class="glyphicon glyphicon-ok"></span>
                        {{'save'|translate}}
                    </button>
                    <button class="btn btn-danger" ng-click="$dismiss()">
                        <span class="glyphicon glyphicon-remove"></span>
                        {{'cancel'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
