<div class="container adminContent">

    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h1 class="title">Products</h1>

                <div class="buttons">
                    <a class="button center" ng-href="#/product/addnew">{{ 'addProduct' | translate }}</a>
                </div>
            </div>
        </div>
        <div data-ui-grid="productsCtrl.gridOptions" data-ui-grid-pagination></div>
    </section>
</div>
