<div class="container adminContent">

    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h1 class="title">{{'products'|translate}}</h1>

                <div class="buttons">
                    <a class="button center" ng-href="#/product/addnew">{{ 'addProduct' | translate }}</a>
                </div>
            </div>
        </div>
        <div class="grid-style" data-ui-grid="productsCtrl.gridOptions" ui-grid-infinite-scroll></div>
        <div class="row section-row"></div>
    </section>
</div>
