<div class="container adminContent">

    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h1 class="title">{{'defects'|translate}}</h1>

                <div class="buttons">
                    <button class="button center" ng-click="defectsCtrl.mergeDefects()">{{'merge'|translate}}</button>
                    <button class="button center" ng-click="defectsCtrl.addRow()">{{"addDefect"|translate}}</button>
                    <button class="button center" ng-click="defectsCtrl.newGroup()">{{"addGroupDefect"|translate}}</button>
                </div>
            </div>
        </div>
        <div ui-grid="defectsCtrl.gridOptions" ui-grid-pagination></div>
    </section>
</div>
