<div>
    <div class="modal-header"></div>
    <form class="form-horizontal" role="form">
        <div class="modal-body">
            <div class="form-group">
                <label for="name">{{'name'|translate}}:</label>
                <input id="name" ng-model="modal.row.name">
            </div>
            <div class="form-group">
                <label for="group">{{'group'|translate}}:</label>
                <select id="group" ui-select2="modal.select2Options" data-ng-model="modal.row.groupId" data-placeholder="Choose category">
                    <option ng-selected="modal.selectCategory(category.id)" ng-repeat="category in modal.category" value="{{category.id}}">{{category.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-7 text-left">
                    <button class="btn btn-success pull-left" ng-click="$close(modal.row)">
                        <span class="glyphicon glyphicon-ok"></span>
                        {{'save'|translate}}
                    </button>
                    <button class="btn btn-danger pull-left" ng-click="$dismiss()">
                        <span class="glyphicon glyphicon-remove"></span>
                        {{'cancel'|translate}}
                    </button>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </form>
</div>
