<div>
    <div class="modal-header">
        <h2 class="title">{{'merge'|translate}}</h2>
    </div>
    <form class="form-horizontal" role="form">
        <div class="modal-body">
            <div class="row section-row">
                <div class="title">{{'mergeDefects'|translate}}</div>
            </div>
            <div class="gridStyle" ui-grid="modal.gridOptions" ui-grid-selection ui-grid-infinite-scroll>

            </div>
            <div class="confirm">
                <input id="confirm" type="checkbox" ng-model="confirm">
                <label for="confirm">{{'confirmMergeDefects'|translate}}</label>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-7 text-center">
                    <button ng-disabled="!confirm" class="btn btn-success" ng-click="$close(modal.merge)">
                        <span class="glyphicon glyphicon-ok"></span>
                        {{'save'|translate}}
                    </button>
                    <button class="btn btn-danger" ng-click="$dismiss()">
                        <span class="glyphicon glyphicon-remove"></span>
                        {{'cancel'|translate}}
                    </button>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </form>
</div>
