<div class="container adminContent">

    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h1 class="title">{{'overview'|translate}}</h1>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-2">
                <div class="row">
                    <table>
                        <tr><th>Settings</th></tr>
                        <tr><td>{{'name'|translate}}</td></tr>
                        <tr><td>{{'description'|translate}}</td></tr>
                        <tr><td>{{'speedSlowLimit'|translate}}</td></tr>
                        <tr><td>{{'lineNumber'|translate}}</td></tr>
                        <tr><td>{{'groupId'|translate}}</td></tr>
                        <tr><td>{{'markerQty'|translate}}</td></tr>
                        <tr><td>{{'colorMode'|translate}}</td></tr>
                        <tr><td>{{'speedNormalLimit'|translate}}</td></tr>
                        <tr><td>{{'speedTooSlowLimit'|translate}}</td></tr>
                        <tr><td>{{'unit'|translate}}</td></tr>
                        <tr><td>{{'autoStanby'|translate}}</td></tr>
                        <tr><td>{{'offFilter'|translate}}</td></tr>
                        <tr><td>{{'signalInversion'|translate}}</td></tr>
                        <tr><td>{{'stopTime'|translate}}</td></tr>
                        <tr><td>{{'enabled'|translate}}</td></tr>
                        <tr><td>{{'standbyEnabled'|translate}}</td></tr>
                        <tr><td>{{'onFilter'|translate}}</td></tr>
                        <tr><td>{{'effMarkersEnabled'|translate}}</td></tr>
                    </table>
                </div>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <table>
                        <tr>
                            <th></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="row section-row"></div>
    </section>
</div>
