<div class="container adminContent">

    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h1 class="title">{{'overview'|translate}}</h1>
            </div>
        </div>
        <div class="row section-row">
            <div class="col-xs-12">
                <div class="row overview">
                    <div class="outer">
                        <div class="inner">
                            <table>
                                <tr>
                                    <th>{{'settings'|translate}}</th>
                                    <td ng-repeat="name in overviewCtrl.data.name track by $index">{{ name }}</td>
                                </tr>
                                <tr>
                                    <th>{{'description'|translate}}</th>
                                    <td ng-repeat="description in overviewCtrl.data.description track by $index">{{ description }}</td>
                                </tr>
                                <tr>
                                    <th>{{'groupId'|translate}}</th>
                                    <td ng-repeat="groupName in overviewCtrl.data.groupName track by $index">{{ groupName }}</td>
                                </tr>
                                <tr>
                                    <th>{{'lineNumber'|translate}}</th>
                                    <td ng-repeat="lineNumber in overviewCtrl.data.lineNumber track by $index">{{ lineNumber }}</td>
                                </tr>
                                <tr>
                                    <th>{{'unit'|translate}}</th>
                                    <td ng-repeat="unit in overviewCtrl.data.unit track by $index">{{ unit }}</td>
                                </tr>
                                <tr>
                                    <th>{{'colorMode'|translate}}</th>
                                    <td ng-repeat="colorMode in overviewCtrl.data.colorMode track by $index">{{ colorMode }}</td>
                                </tr>
                                <tr>
                                    <th>{{'speedTooSlowLimit'|translate}}</th>
                                    <td ng-repeat="speedTooSlowLimit in overviewCtrl.data.speedTooSlowLimit track by $index">{{ speedTooSlowLimit }}</td>
                                </tr>
                                <tr>
                                    <th>{{'speedSlowLimit'|translate}}</th>
                                    <td ng-repeat="speedSlowLimit in overviewCtrl.data.speedSlowLimit track by $index">{{ speedSlowLimit }}</td>
                                </tr>
                                <tr>
                                    <th>{{'speedNormalLimit'|translate}}</th>
                                    <td ng-repeat="speedNormalLimit in overviewCtrl.data.speedNormalLimit track by $index">{{ speedNormalLimit }}</td>
                                </tr>
                                <tr>
                                    <th>{{'markerQty'|translate}}</th>
                                    <td ng-repeat="markerQty in overviewCtrl.data.markerQty track by $index">{{ markerQty }}</td>
                                </tr>
                                <tr>
                                    <th>{{'autoStanby'|translate}}</th>
                                    <td ng-repeat="autoStanby in overviewCtrl.data.autoStanby track by $index">{{ autoStanby }}</td>
                                </tr>
                                <tr>
                                    <th>{{'signalInversion'|translate}}</th>
                                    <td ng-repeat="signalInversion in overviewCtrl.data.signalInversion track by $index">{{ signalInversion }}</td>
                                </tr>
                                <tr>
                                    <th>{{'enabled'|translate}}</th>
                                    <td ng-repeat="enabled in overviewCtrl.data.enabled track by $index">{{ enabled }}</td>
                                </tr>
                                <tr>
                                    <th>{{'onFilter'|translate}}</th>
                                    <td ng-repeat="onFilter in overviewCtrl.data.onFilter track by $index">{{ onFilter }}</td>
                                </tr>
                                <tr>
                                    <th>{{'offFilter'|translate}}</th>
                                    <td ng-repeat="offFilter in overviewCtrl.data.offFilter track by $index">{{ offFilter }}</td>
                                </tr>
                                <tr>
                                    <th>{{'stopTime'|translate}}</th>
                                    <td ng-repeat="stopTime in overviewCtrl.data.stopTime track by $index">{{ stopTime }}</td>
                                </tr>
                                <tr>
                                    <th>{{'standbyEnabled'|translate}}</th>
                                    <td ng-repeat="standbyEnabled in overviewCtrl.data.standbyEnabled track by $index">{{ standbyEnabled }}</td>
                                </tr>
                                <tr>
                                    <th>{{'effMarkersEnabled'|translate}}</th>
                                    <td ng-repeat="effMarkersEnabled in overviewCtrl.data.effMarkersEnabled track by $index">{{ effMarkersEnabled }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row section-row"></div>
    </section>
</div>
