<div class="container adminContent">

    <admin-menu></admin-menu>
    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h1 class="title">{{'defectsGroup'|translate}}:</h1>

                <div class="buttons">
                    <button class="button center" ng-click="groupCtrl.addRow()">{{'addGroupDefect'|translate}}</button>
                    <button class="button center" ng-click="groupCtrl.newDefect()">{{'addDefect'|translate}}</button>
                </div>
            </div>
        </div>
        <div ui-grid="groupCtrl.gridOptions" ui-grid-pagination ui-grid-selection></div>
    </section>
    <section class="no-bordered">
        <div ng-if="groupCtrl.visibled">
            <div class="row section-row">
                <div class="col-xs-12">
                    <h1 class="title">Defects in selected group:</h1>
                </div>
            </div>
            <div ui-grid="groupCtrl.gridOptions2" ui-grid-pagination></div>
        </div>
    </section>
</div>