<div class="container adminContent">

    <section class="no-bordered">
        <div class="row section-row">
            <div class="col-xs-12">
                <h1 class="title">{{'defectsGroup'|translate}}</h1>

                <div class="buttons">
                    <button class="button center" ng-click="groupCtrl.addRow()">{{'addGroupDefect'|translate}}</button>
                    <button class="button center" ng-click="groupCtrl.newDefect()">{{'addDefect'|translate}}</button>
                </div>
            </div>
        </div>
        <div class="grid-style" ui-grid="groupCtrl.gridOptions" ui-grid-infinite-scroll ui-grid-selection></div>
    </section>
    <section class="no-bordered">
        <div ng-if="groupCtrl.visibled">
            <div class="row section-row">
                <div class="col-xs-12">
                    <h1 class="title">{{'defectsInSelected'|translate}}</h1>
                </div>
            </div>
            <div class="grid-style" ui-grid="groupCtrl.gridOptions2" ui-grid-infinite-scroll></div>
        </div>
        <div class="row section-row"></div>
    </section>
</div>
